html {
    font-size: calc(0.9rem + (100vw - 600px) / 800);
    line-height: 1.4;
    max-width: 100%;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    #wrapper {
        margin: 0 auto;
        width: 100%;
    }
}

@media only screen and (min-width: 600px) {
    #wrapper {
        margin: 0 auto;
        width: calc(100% - 0.6 * (100vw - 600px));
    }
}

#heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
    padding: 0 1rem;
}

#title {
    font-family: 'Libre Baskerville', serif;
    font-style: bold;
    font-size: 2.2rem;
    margin: 2em 0 0.5em;
    text-align: center;
}

#subtitle {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
    font-size: 1.1rem;
    margin: 0.5em 0 2em;
    text-align: center;
}

#signature {
    padding: 4em 1rem 1em;
}

#footnote {
    padding: 4em 1rem 2em;
    font-weight: 100;
}

.paragraph {
    padding: 0.5em 1rem;
    /* initial-letter: 3 3; not supported 2019-03 */
}

.figure {
    padding: 0 1rem;
}

.figure-landscape {
    display: block;
    margin: 0 auto;
    max-height: 40vh;
    max-width: 100%;
}

.figure-portrait {
    display: block;
    margin: 0 auto;
    max-height: 60vh;
    max-width: 100%;
}

.caption {
    font-size: 0.8rem;
    color: #303030;
    margin-top: 1em;
}

.italic {
    font-style: italic;
}

.medium-italic {
    font-style: italic;
    font-weight: 500;
}